<h1>New event</h1>
<%= form_for(@event) do |f| %>
  <%= f.label :name %><br>
  <%= f.text_field :name %><br>
  <%= f.label :location %><br>
  <%= f.text_field :location %><br>
  <%= f.label :date %><br>
  <%= f.date_select(:date, order: [:month, :day, :year]) %><br>
  <%= f.submit "Submit" %>
<% end %>
